body{
    margin: 0;
    padding: 0;
    background: url(img/mac.jpg);
    background-size: cover;
    font-family: sans-serif;
}
.loginbox{
    width: 300px;
    height: 420px;
    background: wheat;
    color: crimson;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    padding: 0 0 20px;
    margin: 0;
    text-align: center;
    font-size: 22px;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
    background: crimson;
    color: cornsilk;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: cornsilk;
    color: crimson;
}
.loginbox a{
    text-decoration: none;
    padding-top: 10px;
    font-size: 12px;
    line-height: 20px;
    color:darkgrey;
}
.loginbox a:hover{
    text-decoration: underline;
    color: crimson;
}